* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('@/assets/background/background.png') no-repeat center;
  background-size: cover;
}

/* html,
body {
  min-width: 600px;
  min-height: 700px;
  overflow: hidden;
  margin: 0;
  padding: 0;
} */
